<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/logo.png" alt="ShoeStore" height="40" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Trang chủ</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                            Sản phẩm
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Giày nam</a>
                            <a class="dropdown-item" href="#">Giày nữ</a>
                            <a class="dropdown-item" href="#">Giày thể thao</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Blog" asp-action="Index">Tin tức</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Contact" asp-action="Index">Liên hệ</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <div class="input-group mr-3">
                        <input type="text" class="form-control" placeholder="Tìm kiếm...">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="mr-3">
                        <a href="#" class="text-dark"><i class="fas fa-heart fa-lg"></i></a>
                    </div>
                    <div class="mr-3">
                        <a asp-controller="Cart" asp-action="Index" class="text-dark position-relative">
                            <i class="fas fa-shopping-cart fa-lg"></i>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                3
                            </span>
                        </a>
                    </div>
                    <partial name="_CustomerLogin" />
                </div>
            </div>
        </div>
    </nav>
</header>