<footer class="border-top footer text-muted bg-dark text-white">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-3 mb-4">
                <h5>Về chúng tôi</h5>
                <p>TSOLEKING - Thương hiệu giày dép uy tín hàng đầu Việt Nam với chất lượng và dịch vụ tốt nhất.</p>
                <div class="social-links">
                    <a href="#" class="text-white mr-2"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-white mr-2"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white mr-2"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <h5>Liên kết nhanh</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Trang chủ</a></li>
                    <li><a href="#" class="text-white">Sản phẩm</a></li>
                    <li><a href="#" class="text-white">Tin tức</a></li>
                    <li><a href="#" class="text-white">Liên hệ</a></li>
                    <li><a href="#" class="text-white">Giới thiệu</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-4">
                <h5>Chính sách</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Chính sách bảo mật</a></li>
                    <li><a href="#" class="text-white">Chính sách đổi trả</a></li>
                    <li><a href="#" class="text-white">Chính sách vận chuyển</a></li>
                    <li><a href="#" class="text-white">Điều khoản dịch vụ</a></li>
                    <li><a href="#" class="text-white">Hướng dẫn mua hàng</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-4">
                <h5>Đăng ký nhận tin</h5>
                <p>Đăng ký để nhận thông tin khuyến mãi và sản phẩm mới nhất.</p>
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Email của bạn">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">Đăng ký</button>
                    </div>
                </div>
                <p><i class="fas fa-phone mr-2"></i> Hotline: 1900 1234</p>
                <p><i class="fas fa-envelope mr-2"></i> Email: info@tsoleking.com</p>
            </div>
        </div>
    </div>
    <div class="container-fluid py-3 bg-secondary">
        <div class="container text-center">
            &copy; 2025 TSOLEKING - All Rights Reserved
        </div>
    </div>
</footer>