@using SoleKingECommerce.ViewModels.Category
@model IEnumerable<CategoryTreeViewModel>

<ul class="dropdown-menu">
    @foreach (var category in Model)
    {
        <li class="dropdown-submenu">
            <a class="dropdown-item" href="@Url.Action("Index", "Product", new { categoryId = category.Id })">
                @category.Name
            </a>
            @if (category.Children.Any())
            {
                <ul class="dropdown-menu">
                    @foreach (var child in category.Children)
                    {
                        <li>
                            <a class="dropdown-item" href="@Url.Action("Index", "Product", new { categoryId = child.Id })">
                                @child.Name
                            </a>
                        </li>
                    }
                </ul>
            }
        </li>
    }
</ul>

<style>
    .dropdown-submenu {
        position: relative;
    }

        .dropdown-submenu .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -1px;
            display: none;
        }

        .dropdown-submenu:hover .dropdown-menu {
            display: block;
        }

    .dropdown-item {
        white-space: nowrap;
    }
</style>